
# Virtual env
venv/
.venv/
env/
ENV/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.egg-info/
dist/
build/

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media/
staticfiles/
static_collected/

# Environment
.env
.env.*
!.env.example

# IDE / OS
.idea/
.vscode/
*.swp
.DS_Store
Thumbs.db

# Coverage / tests
.coverage
htmlcov/
.tox/
.pytest_cache/

# Coolify / Docker
.dockerignore


structure.txt 
